div{
    
} 
.zwy-header{
    background-color: lightblue;
    height: 48%;
    float: left;
    width: 30%;
    height: 100%;
}
body{
    margin:0;
   
}
.zwy-body{
    float: left;
    width: 70%;
    background-color: bisque;
    height: 100%;
}
div.zwy-header > div {
    font-size: 2em;
}
div.zwy-header > div:before {
    content: attr(aria-label);
    display: block;
    font-size: 0.5em;
}